/*Assured Construction CSS - Autumn Barker Jan 2017*/
@charset "utf-8";
/* CSS Document */
/*Simplify width and height calculations*/
html {
	box-sizing:border-box;
}
*, *:before,
*:after {
	box-sizing:inherit;
}
body {
		font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
		margin:0;
		padding:0;
		min-width: 250px;
	}
.top-bar {
	background-color: #000000;
	margin: 0;
	padding: 0;
	width: 100%; 
	height: 40px;
}
.logo-bar{
	background-color: white;
	height: 100px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #214093;
	font-size: x-large;
	background-image: url(../images/assured-logo.gif);
	background-size: 400px auto;
	background-repeat: no-repeat;
	background-position: center;
	}
.tile-container{
		display: none;
	}

.picture-bar {
	background-color: #000000;
	clear: both;
}
.picture-bar img {
	width: 100%;
}
	
.statement-bar {
	background: #000;
	height: 180px;
	
}
.statement-bar h1 {
	color: #214093;
	margin: 0;
	padding-top: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: medium;
}
.statement-bar h3 {
	color: #FFFFFF;
	text-align: center;
	text-transform: capitalize;
	margin: 0;
	font-style: italic;
	font-size: medium;
}
a {
	color: white;
}
ul {
	list-style-type: none;
}
/*nav bar*/
nav {
	margin: 0;
	padding: 0;
	background-color: #214093;
	height: 65px;
	text-align: center;
	
}
#menulink {
	margin: 0;
	width: 100%;
	background-color: #214093;
	font-size: 2em;
	font-weight: bold;
	height: 65px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}
#menulink a {
	width: 100%;
	height: 100%;
	font-weight: 200;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	font-style: normal;
	list-style-type: none;
	text-align: center;
	padding-top: 10px;

}

#navlinks {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;	
	list-style-type: none;
	background-color: #214093;
	background-color: rgba(33,64,147,0.65);
	position: absolute;
	top: 135px;
	z-index: 1;
	opacity: 1;
	-webkit-transition: all ease-out 0.5s;
	transition: all ease-out 0.5s;
}
#navlinks.displayed {
	top: 205px;
	z-index: 1;
	margin: 0;
	opacity: 1;
}
#navlinks.start {
	display: none;
}
#navlinks.collapsed {
	top: -15em;
}
#navlinks ul{
	margin: 0;
	padding: 0;
}
#navlinks li {
	margin: 0;
	padding: 0;
}
#navlinks a {
	width:100%;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
}
#navlinks a:hover, #navlinks a:active, #navlinks a:focus, #navlinks a.thispage {
	color: #F59100;
}

/*main*/
main {
	overflow: auto;
}


.about img{
	clear: both;
	width: 100%;
	
}
.about p{
		padding: 10px;
	}

.service {
	overflow: auto;
	padding: 20px;
	margin: 20px;
	border: 1px solid black;
}

.service h3 {
	text-align:center;
}
.service img {
	
	clear: both;
	width: 100%;
	padding: 10px;
}
.gallery{
	width: 100%;
	margin-top: 20px;
	float:left;
}
.contact{
	
	max-width: 500px;
	margin-left:auto;
	margin-right: auto;
	padding: 10px;
}

/*These rules style the contact form*/
#contact-form {
	border: 1px solid #000000;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	max-width: 500px;

}


#contact-form #name {
	margin-top: 10px;
	margin-left: 67px;
	margin-bottom: 5px;
}
#contact-form #email {
	margin-left: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#contact-form #phone {
	margin-left: 64px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#contact-form #phone-lbl{
	margin-left: 12px;
}
#contact-form #textarea {
	margin-left: 30px;
	vertical-align: top;
}
#contact-form label {
	padding-left: 17px;
}
#contact-form #submit {
	margin-left: 30px;
	margin-bottom:10px;

	
}
.required {
	color: red;
	font-weight: bold;
}

/*footer*/
footer {
	background-color: #214093;
	padding: 10px;
	clear:both;
}

footer ul {
		display: none;
}
footer p {
	color: white;
	font-size: small;
	text-align: center;
	text-transform: uppercase;
}


#mobile { 
		display: inline;
		font-size: 1.5em;
		color: black;
		text-decoration: none;
}
#desktop{ 
		display: none;
}


/* Desktop query */
@media (min-width: 700px){
	

.tile-container {
	display:block;
	clear: both;
	height: 100%;
	float: right;
	max-height: 245px;
}
.tile-container img {
	margin: 0;
	padding: 0;
	clear: none;
	max-height: 245px;
	float: right;
}
	#menulink {
		display: none;
	}
	#navlinks {
		max-width: 1000px;
		background-color: transparent;
		position: static;
	}
	#navlinks.collapsed {
		opacity: 1;
	}
	#navlinks a {
		width: 15%;
		float: left;
		padding-top: 20px;

	}
	.logo-bar {
		height: 140px;
		background-position: left;
		background-size: 602px auto;
	}
	.statement-bar h1, h3{
		font-size: x-large;
	}
	.about img{
		clear:both;
		float: left;
		width: 40%;
		margin: 40px;
	}
	.about p {
		padding: 50px;
	}
	#mobile {
	display: none;

}
	#desktop {
	display: inline;
	font-size: 2em;
}
	footer{
		text-align: center;
	}
	footer ul {
	text-align: center;
	display: inline;
}
	footer ul li {
	display: inline;
}
	footer a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: small;
}
	footer a:hover {
	color: #A8A7A7;
}
	.gallery{
	width: 30%;
	margin: 20px;
	}

	.service {
		
	}
	.service img{
		clear: both;
		float: left;
		width: 50%;
	}
	.service h3{
		font-weight: bolder;
		font-size: 145%;
	}	
}
